<template name="ResetPassword">
	<div class="container">
		<form id="reset_password_form" class="account-form" role="form">
			<h2>
				Cambiar contraseña
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="new_password" type="password" class="form-control" placeholder="Su nueva contraseña" required autofocus>
			<input id="new_password_confirm" type="password" class="form-control" placeholder="Confirme contraseña" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Por favor espere...">
				Enviar
			</button>
		</form>
	</div>
</template>

