<template name="Departamentos">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> DepartamentosView}}
	</div>
</template>

<template name="DepartamentosView">
	<div id="departamentos-view" class="">
		<h2 id="component-title">
			Departamentos
		</h2>
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group {{insertButtonClass}}">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Agregar
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Buscar
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Buscar" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			No se encontró ninún registro.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> DepartamentosViewTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			No hay registros! :(
		</div>
		{{/if}}
	</div>
</template>

<template name="DepartamentosViewTable">
	<table id="dataview-table" class="table table-striped table-hover">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="dep_codigo">
					CODIGO
				</th>
				<th class="th-sortable" data-sort="dep_descripcion">
					DESCRIPCION
				</th>
				<th class="th-sortable" data-sort="dep_seccion">
					SECCION
				</th>
				<th class="th-sortable" data-sort="dep_agenda">
					AGENDA
				</th>
				<th class="th-sortable" data-sort="dep_activo">
					ACTIVO
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> DepartamentosViewTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="DepartamentosViewTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{dep_codigo}}
		</td>
		<td>
			{{dep_descripcion}}
		</td>
		<td>
			{{dep_seccion}}
		</td>
		<td>
			{{dep_agenda}}
		</td>
		<td>
			<input type="checkbox" class="inline-checkbox {{editButtonClass}}" data-field="dep_activo" {{checked dep_activo}}>
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil {{editButtonClass}}" title="Editar">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o {{deleteButtonClass}}" title="Eliminar">
			</span>
		</td>
	</tr>
</template>

