<template name="ForgotPassword">
	<div class="container">
		{{#if resetPasswordSent}}
		<div class="accounts-info-box">
			<h2>
				Olvidó la contraseña
			</h2>
			<p>
				Instrucciones para cambiar la contraseña serán enviadas a su dirección de correo electrónico.
			</p>
			<a href="{{pathFor 'login'}}" class="btn btn-lg btn-primary" id="reset_password_sent">
				OK
			</a>
		</div>
		{{else}}
		<form id="forgot_password_form" class="account-form" role="form">
			<h2 class="account-form-heading">
				Olvidó la contraseña
			</h2>
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}
			<input id="reset_email" type="text" class="form-control" placeholder="Correo electrónico" required autofocus>
			<button class="btn btn-lg btn-primary btn-block" type="submit" data-loading-text="Por favor espere...">
				Enviar
			</button>
		</form>
		{{/if}}
	</div>
</template>

